img {margin: 0px;padding: 0px;border: none;}
html,body{
height:100%;
width:100%;
margin:0px;
padding:0px
}
body {background:#D6D5D0;font:normal 15px Arial;}
p {margin:0px;padding:0px;line-height:120%;}
h1 {font-size: 20pt;margin:0px;padding:0px;}
.page {font-family: Arial; font-size: 14px;color:black;font-weight:normal;text-decoration:none}
.page:hover {text-decoration:underline}
.page_cur {font-family: Arial; font-size: 14px;color:black;font-weight:bold;text-decoration:none}
.page_cur:hover {text-decoration:underline}
table{
border:0px; /* border="0" */
border-collapse:collapse; /* cellspacing="0" */
}

table td{
padding:0px; /* cellpadding="0" */
}
div.system_message {color:red;float:none;text-align:center;border:1px dotted gray;font:normal 15px Arial;}
div.system_message_l {color:red;float:none;text-align:center;border:1px dotted gray;font:bold 32px Arial;}
div.center_info   {font:normal 18px Arial; text-align:center;}
div.tocatalog {margin:0px 0px 5px 0px;position:relative;}
/* ================================================================ */
table.head {background: url(/i/h_f.jpg) repeat-x 0% 0%;}
table.head td.head {height:507px;background: url(/i/header_main.jpg) no-repeat 0% 0%;}
table.headi {background: url(/i/hi_f.jpg) repeat-x 0% 0%;}
/*table.headi td.headi {height:434px;background: url(/i/header_inside.jpg) no-repeat 0% 0%;}*/
table.headi td.headi {height:434px;background: url(/i/header_insidenew.jpg) no-repeat 0% 0%;}
/*table.head {background: url(/i/h_f.jpg) repeat-x 0% 0%;}
table.head td.head {height:507px;background: url(/i/h1C.jpg) no-repeat 0% 0%;}
table.headi {background: url(/i/hi_f.jpg) repeat-x 0% 0%;}
table.headi td.headi {height:434px;background: url(/i/hi1C.jpg) no-repeat 0% 0%;}*/

table.head_cat {background: url(/i/cat_hf.jpg) repeat-x 0% 0%;}
table.head_cat td.head_cat {height:434px;background: url(/i/cat_hC.jpg) no-repeat 0% 0%;}

    table.logo_menu td.menu {padding:35px 0px 0px 40px;}

    table.logo_menu td.menu div.menu_cont {float:left;border:1px solid #ffffff;}
    table.logo_menu td.menu div.menu_cont div.menu {float:left;padding:2px 13px 0px 0px;}

    table.logo_menu td.menu div.menu_cont_a {float:left;border:1px solid #E3E3E2;background:#ffffff;}
    table.logo_menu td.menu div.menu_cont_a div.menu {float:left;padding:2px 13px 0px 0px;background:#ffffff;}

    table.logo_menu td.menu div.menu img {margin:0px 13px 0px 0px;}

    table.logo_menu td.menu div.menu a {font:normal 14px Arial;color:#000000;}
    table.logo_menu td.menu div.menu a:hover {text-decoration:none;}

    table.logo_menu td.menu div.podmenu {position:absolute;top:57px;left:360px;float:left;width:550px;border:1px solid #E3E3E2;background:#ffffff;padding:3px 13px 10px 13px;}
    table.logo_menu td.menu div.podmenu div.punkt {float:left;padding:2px 13px 4px 0px;}
    table.logo_menu td.menu div.podmenu img {margin:0px 6px 0px 0px;}
    table.logo_menu td.menu div.podmenu a {font:normal 12px Arial Narrow;color:#000000;text-decoration:none;}
    table.logo_menu td.menu div.podmenu a:hover {text-decoration:underline;}

    div.podmenu_oth {position:absolute;top:57px;left:360px;float:left;width:550px;border:1px solid #E3E3E2;background:#ffffff;padding:3px 13px 10px 13px;}
    div.podmenu_oth div.punkt {float:left;padding:2px 13px 4px 0px;}
    div.podmenu_oth img {margin:0px 6px 0px 0px;}
    div.podmenu_oth a {font:normal 12px Arial Narrow;color:#000000;text-decoration:none;}
    div.podmenu_oth a:hover {text-decoration:underline;}



/* ================================================================ */
/* table.content {background: #D6D5D0;}*/
/*table.content td.content {height:560px;padding:15px 30px;background: url(/i/cont_rb.jpg) no-repeat 100% 100%;}*/
table.content td.content {height:560px;padding:15px 30px; background: url(/i/cont_rb.jpg) no-repeat 100% 100%;}

table.content td.content div.about {float:left;width:712px;margin:0px 0px 40px 0px;border:0px solid red;padding-left: 22px;}
table.content td.content div.about img {margin:0px 15px 0px 0px;}
table.content td.content div.about h1,h2,h3,h4,h5 {font:normal 23px Arial;margin:0px 0px 10px 0px;padding:0px;}
h2.titleh2 {font-size: 18pt;color: rgba(0,0,0,.87);}
table.content td.content div.about p {font:normal 12px Arial;color:black;text-align:justify;line-height:150%;}
table.fin_content td.fin_content h4 {font:bold 18px Arial;color:#000000;margin:0px 0px 10px 0px;padding:0px;}
table.fin_content td.fin_content h4.ins {font:normal 30px Arial Narrow;color:#000000;margin:0px 0px 10px 0px;padding:0px;}
table.fin_content td.fin_content p {font:normal 15px Arial;color:black;text-align:justify;line-height:100%;}
table.fin_content td.rekl {text-align:left;padding:0px 15px 0px 0px;}


div.news_title_cont {float:left;background:white;padding:3px 10px 3px 2px;font:bold 12px Arial;color:black;text-decoration:none;}
div.news_title_cont a {font:bold 12px Arial;color:black;text-decoration:none;}
div.news_title_cont a:hover {text-decoration:underline;}
div.news_title_cont img {margin:0px 5px 0px 0px;}
div.news_content_cont {padding:10px 0px 0px 15px;font:normal 12px Arial;color:black;}
div.news_short_cont {padding:10px 0px 0px 15px;font:normal 12px Arial;color:black;}
div.news_short_cont * {font:normal 12px Arial;color:black;text-decoration:underline;}




div.banner_block {padding:20px 0px 0px 10px;}
div.banner_block div.hdr {margin:20px 0px 10px 0px;}
div.banner_block div.hdr a {font: normal 20px Arial;color:#F09700;text-decoration:none;}
div.banner_block div.item {text-align:center;margin:0px 0px 15px 0px;font: normal 13px Arial;color:#000000;text-decoration:none;}

/* ================================================================ */
table.bottom {background: #E0DFDB url(/i/b_f.jpg) repeat-x 0% 0%;;}
table.bottom td.bottom {height:140px;padding:8px 0px 0px 0px;}
table.bottom td.right {text-align:right;}
table.bottom td.right div.cright {font:normal 11px Arial;color:#5A5A5A;margin:0px 10px 20px 0px;}
table.bottom td.right div.cright a {font:normal 11px Arial;color:#5A5A5A;text-decoration:none;}
table.bottom td.right div.cright a:hover {text-decoration:underline;color:orange;}

/*FOOTER CATALOG*/
br.cb {clear:both;}
table.footer_cat div {border:0px solid red;}
table.footer_cat {background: url(/i/cat_footerf.jpg) repeat-x 0% 0%;}
table.footer_cat td.footer_cat {height:139px;padding:0px 0px 0px 0px;background: url(/i/cat_footer.jpg) no-repeat 0% 0%;}
table.footer_cat td.footer_cat div.crightc {float:right;height:40px;width:400px;font:normal 11px Arial;color:#5A5A5A;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
table.footer_cat td.footer_cat div.crightc a {font:normal 11px Arial;color:#5A5A5A;text-decoration:none;}
table.footer_cat td.footer_cat div.crightc a:hover {text-decoration:underline;color:orange;}
table.footer_cat td.footer_cat div.flash_footer {float:left;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;width:600px;}
table.footer_cat td.footer_cat div.butt_container {float:right; height:90px;width:400px;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}

/* ================================================================ */
table.flashnews {}
table.flashnews td.flash {}

table.flashnews td.news {padding:40px 30px 0px 0px;}

table.flashnews td.news td.news_td2 {padding:0px 0px 0px 5px;}
table.flashnews td.news div.news_title {float:left;background:white;padding:3px 10px 3px 2px; }
table.flashnews td.news div.news_title img {margin:0px 5px 0px 0px;}
table.flashnews td.news div.news_title a {font:bold 12px Arial;color:black;text-decoration:none;}
table.flashnews td.news div.news_title a:hover {text-decoration:underline;}

table.flashnews td.news div.news_short {padding:10px 0px 0px 15px;}
table.flashnews td.news div.news_short a {font:normal 12px Arial;color:black;text-decoration:underline;}
table.flashnews td.news div.news_short a:hover {text-decoration:none;}

/* ================================================================ */
div.flash_block {position:absolute;top:205px;left:311px;}
/* ================================================================ */


table.order1 td.key {font:normal 16px Arial;width:100%;}
table.order1 td.value {}
table.order1 input.text {border:1px solid black;width:285px;height:17px;font:normal 12px Arial;}
table.order1 textarea.text {border:1px solid black;width:100%;height:185px;font:normal 12px Arial;}
table.order2 select {border:1px solid black;width:180px;margin:0px 0px 0px 15px;}
table.order2 input.text {border:1px solid black;width:250px;height:17px;font:normal 12px Arial;margin:0px 0px 0px 10px;}

/* ================================================================ */







/*SHOPO*/
div.shopo_container {background: url(/i/cat_cont_dbot.jpg) no-repeat 100% 100%;}
table.cat_infoline {width:974px;margin:95px 0px 0px 0px;}
table.cat_infoline td.title {width:50%;height:100px;}
table.cat_infoline td.right {width:50%;}

div.shopo_title {margin:25px 0px 0px 200px;}
div.shopo_title a {font:normal 38px Arial;color:#C50000;text-decoration:none;}
div.shopo_title a:hover {text-decoration:underline;}

div.shopo_rules {float:right;margin:3px 30px 0px 0px;}

/*SHOPO CATS*/
table.shop_cat_title {width:974px;margin:25px 0px 0px 0px;}
table.shop_cat_title td.serial {width:668px;padding:0px 0px 0px 35px;}
table.shop_cat_title td.spec {border-left:0px solid #000000;padding:0px 0px 0px 25px;}
table.shop_cat_title  div.shopo_title1 {font:normal 30px 'Arial Narrow';color:#007DA2;margin:0px 0px 0px 0px;}

table.cat_cats {width:974px;margin:25px 0px 0px 0px;}
table.cat_cats td.serial {width:638px;padding:0px 0px 0px 35px;border-right:1px solid #F2F2F2;}
table.cat_cats td.spec {border-left:0px solid #000000;padding:0px 0px 0px 5px;}
table.cat_cats  div.shopo_title1 {font:normal 30px 'Arial Narrow';color:#007DA2;margin:0px 0px 50px 0px;}

table.cat_cats td.serial  div.one_cat {float:left;border:0px solid red;width:270px;margin:0px 10px 50px 0px;}
table.cat_cats td.serial  div.one_cat img {margin:0px 15px 0px 0px;}
table.cat_cats td.serial  div.one_cat a {font:bold 19px Arial Narrow;color:#000000;text-decoration:none;}
table.cat_cats td.serial  div.one_cat a:hover {text-decoration:underline;}

table.cat_cats td.spec  div.one_cat {float:left;border:0px solid red;width:300px;margin:0px 0px 50px 0px;}
table.cat_cats td.spec  div.one_cat img {margin:0px 10px 0px 0px;}
table.cat_cats td.spec  div.one_cat a {font:bold 19px Arial Narrow;color:#5E5E5E;text-decoration:none;}
table.cat_cats td.spec  div.one_cat a:hover {text-decoration:underline;}


/*SHOPO CUR CAT*/
div.cur_cat_title {margin:40px 0px 30px 40px;font:normal 25px Arial;}
div.cur_cat_title a {font:normal 30px Arial;color:#000000;text-decoration:none;}
div.cur_cat_title a:hover {text-decoration:underline;}
div.cur_cat_title{padding:0px 10px 10px 0px;}

table.one_category_container {width:935px;margin:0px 0px 58px 35px;}
table.one_category_container td.title_describe {background:#E0DFDC;padding:5px 0px 10px 0px;}
  table.one_category_container td.title_describe div.title {font:normal 23px Arial;color:#000000;}
  table.one_category_container td.title_describe div.describe {font:normal 14px Arial;color:#000000;}
table.one_category_container td.photo_cont {width:145px;border-right:1px solid #FFFFFF;}
  table.one_category_container td.photo_cont td.photo_hdr {height:43px;font:bold 13px Arial;color:#000000;background:#F0F0F0;text-align:center;}
  table.one_category_container td.photo_cont td.photo {text-align:center;}

table.one_category_container td.items {width:100%;}
table.one_category_container td.items table.main_items_table {}
table.one_category_container td.items table.main_items_table td.hdr {height:43px;font:bold 13px Arial;color:#000000;background:#F0F0F0;border-right:1px solid #FFFFFF;text-align:center;}
table.one_category_container td.items table.main_items_table tr.nechet td.line {padding:0px 0px 0px 20px;height:43px;font:normal 16px Arial;color:#000000;background:#D6D5D0;border-right:1px solid #FFFFFF;}
table.one_category_container td.items table.main_items_table tr.chet td.line {padding:0px 0px 0px 20px;height:43px;font:normal 16px Arial;color:#000000;background:#E0DFDC;border-right:1px solid #FFFFFF;}

table.one_category_container td.items table.main_items_table tr.nechet td.line_short {padding:0px 5px 0px 5px;height:43px;font:normal 13px Arial;color:#000000;background:#D6D5D0;border-right:1px solid #FFFFFF;text-align:center;}
table.one_category_container td.items table.main_items_table tr.chet td.line_short {padding:0px 5px 0px 5px;height:43px;font:normal 13px Arial;color:#000000;background:#E0DFDC;border-right:1px solid #FFFFFF;text-align:center;}

/*SHOPO NAV*/
div.shopo_nav {}
div.shopo_nav img {cursor:pointer;}
div.shopo_nav input.nav {font:normal 23px Arial;color:#000000;background:none;border:none;}
div.shopo_nav a.nav {font:normal 23px Arial;color:#000000;text-decoration:none;}


/*INFOLINE CART*/

div.cart_informer {margin:0px 0px 0px 70px;}
div.cart_informer img {margin:0px 20px 0px 0px;}
div.cart_informer  div.count {font:normal 12px Arial;color:#000000;padding: 5px 0px 0px 0px;}
div.cart_informer  div.count span {font:normal 18px Arial;color:#000000;}
div.cart_informer  div.sum {font:normal 12px Arial;color:#000000;margin: 0px 0px 5px 0px;}
div.cart_informer  div.sum span {font:bold 18px Arial;color:#000000;}
div.cart_informer  div.links {}
div.cart_informer  div.links  a.exit{font:normal 12px Arial;text-decoration:none;color:#000000;}
div.cart_informer  div.links  a.exit:hover{text-decoration:underline;}
div.cart_informer  div.links  a.oform{font:normal 23px Arial;text-decoration:none;color:#F87D02;}
div.cart_informer  div.links  a.oform:hover{text-decoration:underline;}

div.user_title  {padding:8px 0px 0px 0px;font:normal 14px Arial;}

div.cart_login_form {margin:0px 0px 0px 70px;}
div.cart_login_form img {margin:0px 20px 0px 0px;}
div.cart_login_form  div.login {font:normal 23px Arial;color:#000000;padding: 5px 0px 0px 0px;}
div.cart_login_form  div.login input {border: 1px solid black;margin:0px 0px 0px 30px;width:170px;height:20px;}
div.cart_login_form  div.pass {font:normal 23px Arial;color:#000000;padding: 5px 0px 0px 0px;}
div.cart_login_form  div.pass input {border: 1px solid black;margin:0px 0px 0px 12px;width:170px;height:20px;}
div.cart_login_form  div.links {}
div.cart_login_form  div.links  a:hover{text-decoration:underline;}
div.cart_login_form  div.links  a.reg{font:normal 12px Arial;text-decoration:none;color:#000000;}
div.cart_login_form  div.links  a.remind{font:normal 12px Arial;text-decoration:none;color:#575757;}
div.cart_login_form  div.links  a.enter{font:normal 12px Arial;text-decoration:none;color:#000000;}
div.cart_login_form  div.links  input.confirm {margin: 4px 0px 0px 0px;font:normal 12px Arial;text-decoration:none;color:#000000;background:none;border:none;}



/*CART LISTING*/
table.cart_content_listing {width:925px;margin:0px 0px 58px 35px;font:bold 13px Arial;text-decoration:none;color:#000000;}
table.cart_content_listing tr.chet {background:#E4E3E1;}
table.cart_content_listing tr.nechet {background:#F0F0F0;}
table.cart_content_listing td {padding:0px 0px;}
table.cart_content_listing td.npp {width:39px;height:38px;padding:0px 0px 0px 15px;}
table.cart_content_listing td.short {font:bold 12px Arial;text-decoration:none;color:#000000;padding:0px 10px 0px 3px;}
table.cart_content_listing td.category_name {font:bold 13px Arial;text-decoration:none;color:#000000;width:10%;}
table.cart_content_listing td.title {font:bold 13px Arial;text-decoration:none;color:#000000;width:30%;padding:0px 0px 0px 25px;}
table.cart_content_listing td.count {}
  table.cart_content_listing td.count input {width:40px;text-align:center;}
table.cart_content_listing td.all_sum {padding:10px 0px 10px 10px;}
  table.cart_content_listing td.all_sum span {font:normal 23px Arial;text-decoration:none;color:#F87D02;}
table.cart_content_listing td.delete {padding:10px 0px 10px 20px;}
  table.cart_content_listing td.delete a {font:bold 13px Arial;text-decoration:none;color:#D20000;}
  table.cart_content_listing td.delete img {vertical-align:middle;}




/*CART_CONTENT_INFO*/
table.cart_content_info {width:935px;margin:0px 0px 8px 35px;font:bold 13px Arial;text-decoration:none;color:#000000;}
table.cart_content_info td.left {font:normal 15px Arial;text-decoration:none;color:#000000;}
  table.cart_content_info td.left div.infotitle {font:normal 16px Arial;text-decoration:none;color:#D20000;margin:0px 0px 13px 0px;}
  table.cart_content_info td.left a {font:normal 15px Arial;text-decoration:underline;color:#000000;}
table.cart_content_info td.right {width:360px;}
  table.cart_content_info td.right div.allsum_info {font:normal 23px Arial;text-decoration:none;color:#000000;margin:0px 0px 25px 0px;}
  table.cart_content_info td.right div.allsum_info span {}
  table.cart_content_info td.right  textarea {width:314px; height:115px;border:1px solid black;}
table.cart_content_info td.controls {padding:20px 0px 0px 0px;}
table.cart_content_info td.controls div.shopo_nav {float:left;position:relative;bottom:18px;}
  table.cart_content_info td.controls div.order_controls {float:right;font:normal 13px Arial;text-decoration:none;color:#D20000;}
    table.cart_content_info td.controls div.order_controls a {font:normal 13px Arial;text-decoration:underline;color:#D20000;}
    table.cart_content_info td.controls div.order_controls img {vertical-align:middle;position:relative;bottom:7px;}
    table.cart_content_info td.controls div.order_controls input.checkbox {vertical-align:middle;margin:0px 10px 0px 10px;}
    table.cart_content_info td.controls div.order_controls input.confirm {vertical-align:middle;position:relative;bottom:1px;font:normal 23px Arial;text-decoration:none;color:#ACACAC;background:none;border:none;}







/*SHOPO REGISTRATION*/

div.regis2ter_form {padding:10px 0px 0px 20px;}
div.regis2ter_form td.submit {padding:10px 0px 0px 0px;text-align:left;font:normal 18px Arial;text-decoration:none;color:#059541;}
div.regis2ter_form div.submit input.submit {border:1px solid black;}

table.reg_table {padding:0px 10px 10px 0px;margin:10px 0px 0px 0px;}
table.reg_table td.fizreg {font:normal 16px Arial;color:#000000;}
table.reg_table td.urreg  {width:50%;}

table.reg_table div.reg_title {margin:0px 0px 10px 40px;font:normal 25px Arial;}
table.reg_table div.reg_title span {font:normal 30px Arial;}
table.reg_table  div.reg_field{padding:0px 10px 10px 0px;}
table.reg_table2 td.reg_field{padding:0px 10px 10px 0px;}
table.reg_table2 input.text{width:272px;height:20px;margin:0px 0px 0px 25px;border:1px solid #B3B9C3;}
table.reg_table2 textarea.text {width:270px;height:100px;margin:0px 0px 0px 25px;border:1px solid #B3B9C3;}
table.reg_table2 select {margin:0px 0px 0px 25px;height 20px;width:272px;font-size: 20px}
table.reg_table2 submit_field {margin:0px 0px 5px 70px;}

table.reg_table div.reg_field {margin:0px 0px 5px 40px; font-size: 14px;}
table.reg_table div.reg_field input.text {width:272px;height:20px;margin:0px 0px 0px 25px;border:1px solid #B3B9C3;}
table.reg_table div.reg_field textarea.text {width:272px;height:100px;margin:0px 0px 0px 25px;border:1px solid #B3B9C3;}
table.reg_table div.reg_field select {margin:0px 0px 0px 25px;}
table.reg_table div.submit_field {margin:0px 0px 5px 70px;}

table.reg_table div.primechanie {font:normal 12px Arial;margin:10px 0px 10px 10px;}
table.reg_table div.primechanie span {font:normal 12px Arial;color:#D20000;}

/*REMINDER*/


div.paginator {font: normal 11px Arial;color:#5A554E;text-align:center;}
div.paginator  a.page {font: normal 11px Arial;color:#506C00;text-decoration:none}
div.paginator  a.page:hover {text-decoration:underline}
div.paginator  a.page_cur {font: bold 11px Arial;color:#000000;text-decoration:none;cursor:default;}
div.paginator  a.page_cur:hover {text-decoration:none;cursor:default;}







/* dilers_related  */
#dilers_related a {text-decoration:none;}
#dilers_related a:hover {text-decoration:underline}
div.diler_link {margin:30px 0px 30px 0px;}
div.diler_link a.diler_link {font: normal 23px Arial;color:#656565 !important;text-decoration:none;}
div.diler_link a.diler_link:hover {text-decoration:underline}


/*private_diler_cart*/
#private_diler_cart input {border:1px solid black;}
#private_diler_cart textarea {border:1px solid black;height:50px;width:300px;}

#dealer_cart_listing {width:95%;margin:0px 0px 10px 5px;font:bold 13px Arial;text-decoration:none;color:#000000;}
#dealer_cart_listing tr.chet {background:#E4E3E1;}
#dealer_cart_listing tr.nechet {background:#F0F0F0;}
#dealer_cart_listing td {padding:0px 0px;}
#dealer_cart_listing td.npp {width:10px;height:38px;padding:0px 2px 0px 2px;}
#dealer_cart_listing td.short {font:bold 12px Arial;text-decoration:none;color:#000000;padding:0px 10px 0px 3px;}
#dealer_cart_listing td.category_name {font:bold 13px Arial;text-decoration:none;color:#000000;width:10%;}
#dealer_cart_listing td.title {font:bold 13px Arial;text-decoration:none;color:#000000;width:25%;padding:0px 0px 0px 15px;}
#dealer_cart_listing td.count {}
  #dealer_cart_listing td.count input {width:40px;text-align:center;}
#dealer_cart_listing td.all_sum {padding:10px 0px 10px 10px;}
  #dealer_cart_listing td.all_sum span {font:normal 23px Arial;text-decoration:none;color:#F87D02;}
#dealer_cart_listing td.delete {padding:10px 0px 10px 20px;}
  #dealer_cart_listing td.delete a {font:bold 13px Arial;text-decoration:none;color:#D20000;}
  #dealer_cart_listing td.delete img {vertical-align:middle;}

#diler_order_info {margin:20px 0px 10px 0px;}
#diler_order_info td {padding:0px 10px 10px 0px;}








#back_button {margin:20px 0px 10px 0px;}
#back_button input.action {border:1px solid black;margin:2px;}


/*diler_edit_info*/
#diler_edit_info {width:95%;}
#diler_edit_info input.text {border:1px solid black;width:300px;margin:2px;}
#diler_edit_info input.action {border:1px solid black;margin:2px;}
#diler_edit_info textarea {border:1px solid black;height:50px;width:300px;margin:2px;}
#diler_edit_info td.text {width:200px;}


/*active_dilers_list*/
#active_dilers_list {width:95%;font: normal 13px Arial;}
#active_dilers_list  td {padding:3px 5px 3px 5px;border-left:1px solid white;}
#active_dilers_list  th {padding:3px 5px 3px 5px;border-left:1px solid white;border-bottom:1px solid white;border-top:1px solid white;font: bold 13px Arial;}
#active_dilers_list tr.nechet {background:#E0DFDC;}
#active_dilers_list tr.chet {background:#D6D5D0;}
.podrobneeclass{display:none}
.podBlockhref a.podrobneehref {color: #D87B35}




/*diler_shop*/
#diler_catz { font: normal 13px Arial;background: url(/i/dil_filler.jpg) repeat-x 0% 100%; }
#diler_catz td {height:30px;text-align:center;width:14%;}
#diler_catz a {text-decoration:none;}
#diler_catz a:hover {text-decoration:underline;}
.act 
{ 
    background:#fff; 
    /*display: inline; 
    margin-left:20px;
    margin-top: 50px; 
    width: 120px;
    min-height: 50px;*/
        
}
#diler_catz td.act a {color:#0F0F0F;}

.passive 
{
    background: url(/i/button_dillers1.png) ;
    color:#0000;
    
    
    /*display: inline; 
    margin-left: 20px;
    margin-top: 150px; 
    width: 120px;
    padding: 5px 5px 5px 5px;
    min-height: 50px;*/
}
#diler_catz td.passive a {color:black;}
.title_head{text-align:left;padding-left: 10px;background-color:#59575;} 

#diler_shop {width:95%;font: normal 13px Arial;color:#000000;}
#diler_shop td.hdr {padding:10px 5px 10px 13px;height:30px;text-align:center;border-left:1px solid white;}
#diler_shop td.line {padding:12px 3px 12px 5px;border-left:1px solid white;text-align:center;}
#diler_shop td.car {padding:0px 3px 0px 5px;border-left:1px solid white;}
#diler_shop td.l {text-align:left;}
#diler_shop tr.nechet {background:#E0DFDC;}
#diler_shop tr.chet {background:#D6D5D0;}
#diler_shop input.count {width:20px;border:1px solid black;text-align:center;}
#diler_shop img.plusminus {cursor:pointer;margin:0px 5px 0px 0px;}
div.submit_all_to_cart {text-align:right;width:95%;margin:20px 0px 20px 0px;}
div.submit_all_to_cart input {border:1px solid gray;}

div.to_oform_link {text-align:left;width:95%;margin:50px 0px 10px 0px;}
div.to_oform_link  a{font:normal 23px Arial;text-decoration:none;color:#6E2D76;}
div.to_oform_link  a:hover{text-decoration:underline;}

 

/*INFOLINE*/
div.DILER_informer {margin:0px 0px 0px 70px;}
div.DILER_informer img {margin:0px 20px 0px 0px;}
div.DILER_informer  div.count {font:normal 15px Arial;color:#000000;padding: 0px 0px 0px 0px;}
div.DILER_informer  div.count span {font:normal 18px Arial;color:#000000;}
div.DILER_informer  div.sum {font:normal 15px Arial;color:#000000;margin: 0px 0px 5px 0px;}
div.DILER_informer  div.sum span {font:bold 18px Arial;color:#000000;}
div.DILER_informer  div.links {}
div.DILER_informer  div.links a {font:normal 15px Arial;color:#8E2E7B !important;text-decoration:none;}
div.DILER_informer  div.links a:hover{text-decoration:underline;}
div.DILER_informer  div.links  a.exit{font:normal 15px Arial;text-decoration:none;color:#000000 !important;}
div.DILER_informer  div.links  a.exit:hover{text-decoration:underline;}
div.DILER_informer  div.links  a.oform{font:normal 23px Arial;text-decoration:none;color:#F87D02;}
div.DILER_informer  div.links  a.oform:hover{text-decoration:underline;}




/*DILERS OVERRIDE*/
table.dilers_head {background: url(/i/dilers_bg_filler.jpg) repeat-x 0% 0%;}
table.dilers_head td.dilers_head {height:434px;background: url(/i/dilers_bg.jpg) no-repeat 0% 0%;}
table.infoline_dilers {width:974px;margin:5px 0px 0px 0px;}
table.infoline_dilers td.title {width:50%;height:105px;}
table.infoline_dilers td.right {width:50%;}

/*MAIN MENU DILERS*/
table.logo_menu_dilers td.tomain {height:155px;}
table.logo_menu_dilers td.menu {padding:35px 0px 0px 60px;}
    table.logo_menu_dilers td.menu div.menu_cont {float:left;border:1px solid #ffffff;}
    table.logo_menu_dilers td.menu div.menu_cont div.menu {float:left;padding:2px 13px 0px 0px;}

    table.logo_menu_dilers td.menu div.menu_cont_a {float:left;border:1px solid #E3E3E2;background:#ffffff;}
    table.logo_menu_dilers td.menu div.menu_cont_a div.menu {float:left;padding:2px 13px 0px 0px;background:#ffffff;}

    table.logo_menu_dilers td.menu div.menu img {margin:0px 13px 0px 0px;}

    table.logo_menu_dilers td.menu div.menu a {font:normal 14px Arial;color:#000000;}
    table.logo_menu_dilers td.menu div.menu a:hover {text-decoration:none;}

    table.logo_menu_dilers td.menu div.podmenu {position:absolute;top:57px;left:360px;float:left;width:550px;border:1px solid #E3E3E2;background:#ffffff;padding:3px 13px 10px 13px;}
    table.logo_menu_dilers td.menu div.podmenu div.punkt {float:left;padding:2px 13px 4px 0px;}
    table.logo_menu_dilers td.menu div.podmenu img {margin:0px 6px 0px 0px;}
    table.logo_menu_dilers td.menu div.podmenu a {font:normal 12px Arial Narrow;color:#000000;text-decoration:none;}
    table.logo_menu_dilers td.menu div.podmenu a:hover {text-decoration:underline;}

    div.podmenu_oth {position:absolute;top:57px;left:360px;float:left;width:550px;border:1px solid #E3E3E2;background:#ffffff;padding:3px 13px 10px 13px;}
    div.podmenu_oth div.punkt {float:left;padding:2px 13px 4px 0px;}
    div.podmenu_oth img {margin:0px 6px 0px 0px;}
    div.podmenu_oth a {font:normal 12px Arial Narrow;color:#000000;text-decoration:none;}
    div.podmenu_oth a:hover {text-decoration:underline;}




/*LOGIN FORM DILERS*/
div.diler_login_form {margin:0px 0px 0px 70px;}
div.diler_login_form img {margin:0px 20px 0px 0px;}
div.diler_login_form  div.login {font:normal 23px Arial;color:#000000;padding: 5px 0px 0px 0px;}
div.diler_login_form  div.login input {border: 1px solid black;margin:0px 0px 0px 30px;width:230px;height:20px;}
div.diler_login_form  div.pass {font:normal 23px Arial;color:#000000;padding: 5px 0px 0px 0px;}
div.diler_login_form  div.pass input {border: 1px solid black;margin:0px 0px 0px 12px;width:230px;height:20px;}
div.diler_login_form  div.links {}
div.diler_login_form  div.links  a:hover{text-decoration:underline;}
div.diler_login_form  div.links  a.reg{font:normal 16px Arial;text-decoration:none;color:#000000;}
div.diler_login_form  div.links  a.remind{font:normal 16px Arial;text-decoration:none;color:#575757;}
div.diler_login_form  div.links  a.enter{font:normal 16px Arial;text-decoration:none;color:#000000;}
div.diler_login_form  div.links  input.confirm {margin: 4px 0px 0px 0px;font:normal 16px Arial;text-decoration:none;color:#000000;background:none;border:none;}





/*diler_request_form*/
#diler_request_form {margin:20px 0px 20px 0px;}
#diler_request_form div.reg_field {}
#diler_request_form div.reg_field input {border: 1px solid black;margin:0px 0px 0px 12px;width:260px;height:20px;}
#diler_request_form div.reg_field textarea {border: 1px solid black;margin:0px 0px 0px 12px;width:260px;height:50px;}
#diler_request_form div.submit_field {}
#diler_request_form div.submit_field input {border: 1px solid black;margin:0px 0px 0px 12px;}
.dilersforms input {border: 1px solid black;}
.dilersforms textarea {border: 1px solid black; font-style: italic;}
.dilersforms {margin-bottom:5px}

#diler_history {}
#diler_history td {text-align:center;}
#diler_history td.summa {text-align:right;padding:0px 5px 0px 0px;}
#diler_history td.number {text-align:left;padding:0px 5px 0px 5px;}
#diler_history td.number a {font:normal 17px Arial;}


#private_menu {list-style:none;font:normal italic 14px Arial;color:#000000;}
#private_menu div {margin:0px 10px 20px 20px;width:800px;}
#private_menu a {font:normal 16px Arial;text-decoration:none;color:#17369A;}
#private_menu a:hover {text-decoration:underline;}





/*NewCategories*/
#NewCategories {font-family:Arial;}
#NewCategories .ColCaption {height:75px; color:#007da2; font-size:26px; margin:0px 0px 0px 30px;}
#NewCategories .Normal {width:420px; vertical-align:top;}
#NewCategories .Normal .Category {float:left; width:165px;height:160px; background: url("/i/CatStripe1.jpg") no-repeat 0px 50px; margin:0px 0px 20px 30px;}
#NewCategories .Normal .Category .Image {height:115px;margin:0px 0px 0px 13px;}
#NewCategories .Normal .Category .Link {height:40px;margin:0px 0px 0px 13px;}
#NewCategories .Normal .Category .Link a {font-size:15px; color:#000; text-decoration:none;font-weight:bold;}
#NewCategories .Normal .Margin {margin:10px 0px 0px 0px;}

#NewCategories .Spec {width:245px; vertical-align:top; background-color:#e4e3df;}
#NewCategories .Spec .Category {float:left; width:165px;height:160px; background: url("/i/CatStripe2.jpg") no-repeat 0px 50px; margin:0px 0px 20px 30px;}
#NewCategories .Spec .Category .Image {height:115px;margin:0px 0px 0px 13px;}
#NewCategories .Spec .Category .Link {height:40px;margin:0px 0px 0px 13px;}
#NewCategories .Spec .Category .Link a {font-size:15px; color:red; text-decoration:none;font-weight:bold;}
#NewCategories .Spec .Margin {margin:10px 0px 0px 0px;}

#NewCategories .Soput {width:420px; vertical-align:top;}
#NewCategories .Soput .Margin {margin:10px 0px 0px 20px;}
#NewCategories .Soput .Category {  width:250px;margin:0px 0px 15px 30px; padding:0px 0px 19px 0px; border-bottom:1px solid black;}
#NewCategories .Soput .Parent { background: url("/i/CatDot.jpg") no-repeat 0px 3px; margin:0px 0px 15px 0px; padding:0px 0px 0px 20px; font-size:17px; color:#000; font-weight:bold;}
#NewCategories .Soput .Child {  margin:0px 0px 5px 0px;}
#NewCategories .Soput .Child a {color:#363636;font-size:12px;font-weight:normal; text-decoration:none;}
#NewCategories .Soput .Child a:hover {text-decoration:underline;}




#SoputCatList {font-family:Arial; margin:0px 30px 20px 40px;}
#SoputCatList .CategoryTitle {font-size:28px; color:#007da2; margin:0px 0px 10px 0px;}
#SoputCatList .CategoryDescription {margin:0px 0px 30px 0px;font-size:12px;}
#SoputCatList .Item {float:left; width:245px; height:321px; background: url("/i/ListingItemBg.jpg") no-repeat 0px 0px; position:relative; margin:0px 0px 40px 0px;}

#SoputCatList .Item .Image {width:180px; height:162px; text-align:center;margin:8px 0px 0px 7px;}
#SoputCatList .Item .Link {width:180px; height:66px; text-align:center;overflow:hidden;margin:0px 0px 0px 7px;}
#SoputCatList .Item .Link a {color:#000;text-decoration:none;font-size:12px;}
#SoputCatList .Item .Buy {width:180px;height:42px;margin:16px 0px 0px 5px;text-align:center;}
#SoputCatList .Item .Cost {width:180px; position:absolute;top:241px; text-align:center; font-size:17px; font-weight:bold; color:red;margin:0px 0px 0px 7px;}

#SoputCatList .SoputDetail {position:relative;top:9px;}


#SoputCatGood {font-family:Arial; margin:0px 30px 20px 40px;}
#SoputCatGood .ItemTitle {font-size:28px; color:#007da2; margin:0px 0px 10px 0px;}
#SoputCatGood .Block {background-color:#e6e6e6;padding:21px 20px 20px 24px;}
#SoputCatGood .Frame {}
#SoputCatGood .ImageCol {vertical-align:top;}
#SoputCatGood .DataCol {vertical-align:top;}
#SoputCatGood .DataCol .Margin { margin: 0px 20px 20px 18px;}
#SoputCatGood .DetailTextShort {font-size:17px; color:#7a7a7a; padding:0px 0px 12px 0px; border-bottom:1px solid black;}
#SoputCatGood .DetailText {margin:40px 0px 20px 0px;}

#SoputCatGood .Packs {width:99%;}
#SoputCatGood .Packs .Pack {padding:10px 0px 5px 0px; border-bottom:1px solid black; font-size:16px; color:#404040;}
#SoputCatGood .Packs .Cost {padding:10px 0px 5px 0px; border-bottom:1px solid black;width:200px;  font-size:25px;color:#cf0000;}
#SoputCatGood .Packs .Buy {padding:10px 0px 5px 0px; border-bottom:1px solid black;width:120px;text-align:right;}

#SoputCatGood .Oneclick {}
#SoputCatGood .Oneclick a {font-size:16px; color:#02637f; text-decoration:underline;}

#Oneclick {display:none;margin:5px;padding:10px; background-color:#fefdfa;}
#Oneclick .Field {margin:5px; }
#Oneclick input.Text{    border: 1px solid #D1D1D1;    border-radius: 3px 3px 3px 3px;    display: block;    font-size: 20px;    margin-bottom: 20px;    padding: 2px 5px;    width: 375px; }
#Oneclick textarea{    border: 1px solid #D1D1D1;    border-radius: 3px 3px 3px 3px;    display: block;    font-size: 20px;    margin-bottom: 20px;    padding: 2px 5px;    width: 375px; }
/*������ ��� ������� ��������*/
.baners 
{
    /*margin-left: 200px;
    margin-top: 160px;*/
    /*float: right;*/
    margin-right: 28px;;  
}
.baners img
{
    margin-left: 20px;
    
}
/*�������� � �����*/
.contacts
{
    /*margin-left: 40px;
    margin-top: -177px; */
    top:332px;
    left:47px;
    font:bold 13pt Arial;
    line-height:26px ;
    color:#3f3f3f;    
    position: absolute;
    z-index: 999999;
}

.contacts .phone-main{
    font-size: 11.25pt;
    padding-left: 1px;
}

.contacts .phone-main span{
    color: #0000ff;
    font-size: 13.25pt;
    margin-left: 27px;
}

.contacts .free-call{
    font-size: 11.25pt;
    padding-left: 1px;
    line-height: 18px;
}
.contacts .soc-contacts{
    margin: 12px 3px 15px;
    color: #0000ff;
    font:bold 13.5pt Arial;
}
.contacts .soc-contacts img{
    vertical-align: middle;
    margin-right: 7px;
}

.contacts .fax{
    font-size: 9.75pt;
    color: #646464;
    padding-left: 2px;
}

.contacts .fax strong{
    font-size: 13.5pt;
    color: #3f3f3f;
    margin-left: 30px;
    font-weight: bold;
}

.contacts .work-time{
    font-size: 10.5pt;
    font-weight: normal;
    position: relative;
    z-index: 99;
    padding-top: 2px;
    padding-left: 2px;
    color: #3f3f3f;
}


.contsacts-inner{
    margin-left: 222px;
    font-family: Arial;
    padding-top: 8px;
}
.contsacts-inner .phone-main span{
    color: #0000ff;
    font-size: 15pt;
    font-weight:bold;
}

.contsacts-inner .free-call{
    font-size: 11.25pt;
    color: #3f3f3f;
        font-weight:bold;
}
.contsacts-inner .soc-contacts{
    margin-top: 9px;
    color: #0000ff;
    font-size: 15pt;
    font-weight:bold;
}
.contsacts-inner .soc-contacts img{
    vertical-align: middle;
    margin-right: 13px;
}


#basket-float{
	position: fixed;
	top: 0px;
    background: #fff;
    width: 100%;
    display: none;
}

#basket-float .count
{
    font: normal 12px Arial;
    color: #000000;
    padding: 0px 0px 0px 0px;
}
#basket-float .sum
{
    font: normal 12px Arial;
    color: #000000;
    margin: 0px 0px 5px 0px;
}

#basket-float  .next-step
{
    float: right;
    margin-right: 50px;
    margin-top: -35px;
}

#basket-float  .count span,
#basket-float  .sum span {
    font: bold 18px Arial;
    color: #000000;}

.urreg{
    visibility: collapse;
}